*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header{
    background-color: rgb(4, 158, 4);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 45px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;   

    margin-top: 20px;
    margin-bottom: 20px;
}

main h1{
    color: rgb(4, 158, 4);
}

main h2{
    color: rgb(4, 158, 4);
}

main p{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

section{
    margin-bottom: 20px;
}

.titulo-secao{
    text-align: center;
    color: rgb(4, 158, 4);
}
.container-disciplinas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card-disciplinas{
    display: flex;
    align-items: center;

    border: 2px solid rgb(4, 158, 4);
    border-radius: 8px;
    padding: 20px;
    width: 1000px;

    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.75);
}
.card-primeiro{
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    

}
.card-segundo{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}
.card-terceiro{
  
    
}
.card-quarto{


}

#img-lp, #img-alg, #img-arq{
    width: 25%;
}

.card-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
